<html>

{% load static %}

<title>Know your Rank</title>
<link rel="icon" type="png/jpg" href="{% static 'faviconuni.png' %}" sizes=2*2>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style type="text/css">
body{background-image:url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);background-size:100% 100%;}
</style>

</head>
<body>
<h1 style="text-align:center;padding:20 0;background:linear-gradient(90deg, rgba(0,33,36,1) 2%, rgba(9,121,16,0.9416141456582633) 40%, rgba(0,125,255,1) 99%);font-family:ui-rounded;font-size:50;color:#ff9a36" >Know your University Rank</h1>
<div style="text-align: center;">
	<form action="/calculate" method="get">
		<span>Institute name: </span><input type="text" id="Institute_name" name="Institute_name" placeholder="Enter Name of Institute">&emsp;&emsp;
		<label for="Country">Country: </label><select name="Country" id="Country">

	</select><br><br>
		<script>
				var text2 ="";
				var countries = ['USA','United Kingdom','Japan','Switzerland','Israel','Canada','France','Sweden','South Korea','Italy','Germany','Netherlands','Finland','Norway','Australia','Denmark','Singapore','Russia','China','Taiwan','Belgium','South Africa','Spain','Brazil','Hong Kong','Ireland', 'Austria','New Zealand','Portugal','Thailand','Czech Republic','Malaysia','India','Greece','Mexico','Hungary','Argentina','Turkey','Poland','Saudi Arabia','Chile','Iceland','Slovenia','Estonia','Lebanon','Croatia','Colombia','Slovak Republic','Iran','Egypt','Serbia','Bulgaria','Lithuania','Uganda', 'United Arab Emirates','Uruguay','Cyprus','Romania','Puerto Rico'];
				var input = document.getElementById("Country").value;
				var x;
				var i;
				for (x = 0; x <=58; x++){
					i = countries[x];
					text2+='<option value="' + i+'">'+i+'</option>';
				}
				document.getElementById("Country").innerHTML = text2;
		</script>
		<span>National Rank: </span><input type="number" id="National_rank" name="National_rank" placeholder="National rank of the Istitute" min="1" required>&emsp;&emsp;
		<span>Education Quality: </span><input type="number" id="Edu_quality" name="Edu_quality" placeholder="Rate quality of education" min="0" required><br><br>
		<span>Alumni Employment: </span><input type="number" id="Alumni" name="Alumni" placeholder="Rate Alumni Employment" min="0" required>&emsp;&emsp;
		<span>Quality of Faculty: </span><input type="number" id="Faculty" name = "Faculty" placeholder="Rate Quality of Faculty" min="0" required><br><br>
		<span>Publications: </span><input type="number" id="Publication" name="Publication" placeholder="No of publictions done" min="0" required>&emsp;&emsp;
		<span>Influence: </span><input type="number" id="Influence" name="Influence" placeholder="Rate influence of institute" min="0" required><br><br>
		<span>Citations: </span><input type="number" id="citations" name="citations" placeholder="Citations" min="0" required>&emsp;&emsp;
		<span>Broad Impact: </span><input type="number" id="broad_impact" name="broad_impact" placeholder="Broad Impact of the University" min="0" step="0.01" required><br><br>
		<span>Patents: </span><input type="number" id="patents" name="patents" placeholder="No of patents" min="0" required>&emsp;&emsp;
		<span>Score: </span><input type="number" id="score" name="score" placeholder="Score of the University" min="0" max="100" step="0.01" required><br><br>
		<span>Year: </span><input type="number" id="year" name ='year' placeholder="Inauguration year of University" min="1000" required><br><br>
		<input type="submit" value="Get Rank" style="padding: 10 15;border: black solid 1px;border-radius: 5px;background: dodgerblue;font-size: 15;font-weight: bolder;font-family: ui-rounded;color: antiquewhite;">
	</form>
	<span id="result" style="visibility:visible;"> The Potential Universal Rank for <b>{{Name}}</b> is: <b>{{Rank}}</b> </span>
</div>
<span style="float: right;font-size: 20;color: blue;"><blink>For the reference values click <a href="/data" target="_blank">here</a></blink></span>
<script>
	var Rank1 = "{{Rank}}"
	if (Rank1 == ""){
		document.getElementById("result").style.visibility = "hidden";
	};
</script>
<script>
	var Ins = "{{Name}}"
	console.log(Ins)
	if (Ins == ""){
		var data = 'The Potential Universal Rank is: <b>"{{Rank}}"<b>'
		document.getElementById("result").innerHTML = data;
	};
</script>
</body>
</html>