<html>
<head>
    {% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<title>Reference Data</title>
<link rel="icon" type="png/jpg" href="{% static 'faviconuni.png' %}" sizes=2*2>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style type="text/css">
body{background-image:url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);background-size:100% 100%;}
</style>
    <script src="https://d3js.org/d3.v3.min.js"></script>


        <script type="text/javascript"charset="utf-8">
            d3.text("{%static 'data.csv' %}", function(data) {
                var parsedCSV = d3.csv.parseRows(data);

                var container = d3.select("body")
                    .append("table")

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .text(function(d) { return d; });
            });
        </script>
</head>
<body>


</body>
</html>